#search-component{
margin: 0.5em;

}

.k-textbox {
    width: 17.1em;
  }
label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  
  }
input {
    padding: .5rem;
    width: 15em;
    max-width: 15em;
    box-sizing: border-box;
    display: block;
  }
  
  input:focus {
    outline: #336699 auto 1px;
  }
  
  li {
    list-style-type: none;
  }
  .search-result li span {
    border: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 15em;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  .search-result li span:hover {
    background-color: #435A60;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }